@font-face {
  font-family: 'Lato';
  src:  
    url('../fonts/Lato-Regular.ttf') format('tff'),
    url('../fonts/Lato-Light.ttf') format('tff'),
    url('../fonts/Lato-Bold.ttf') format('tff')
  ;
  font-weight: 600;
  font-style: normal;
}

.hello {
  color: red;
  font-family: 'Lato';
  background: url('../images/shark.jpg');
}